ansible==2.2.3.0
asgiref==1.1.2
asgi-redis==1.4.3
Celery==3.1.25
celery-with-redis
channels==1.1.7
chardet
DBUtils
Django==1.11.10
django-celery==3.2.2
djangorestframework==3.5.3
kombu==3.0.37
MySQL-python
mysql-replication
paramiko
pymysql
redis
requests
service_identity
supervisor
xlrd